.image-carousol{
    height: 500px;
}
.image-blog{
    width: 100%;
}
.explore-part{
    height: 460px;
}
.explore-image{
    height: 460px;
    width: 100%;
}
.student-image{
    width: 100%;
}
.feadback-image{
    width: 15%;
}